@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm">
        <div class="card">
            <img class="card-img-top" src="https://nerdist.com/wp-content/uploads/2017/12/bulbasaur-charmander-squirtle-pokemon.jpg">
            <div class="card-body">
                <h5 class="card-title">WELCOME TO THE WORD COUNTER GAME!</h5>
                <a class="btn btn-primary" href="/form" role="button">Begin</a>
            </div>
        </div>
    </div>
</div>