@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm">
        <div class="card">
            <img class="card-img-top" src="https://images.hellogiggles.com/uploads/2018/04/14112208/scrabble-dictionary-new-words-e1523730173132.jpg">
            <div class="card-body">
                
                @{
                    var word = Model.word;
                    var phrase = Model.phrase;
                    var count = Model.counts;

                    <div class="words">
                        <h3 class="card-title">PREVIOUS SEARCH DETAILS</h3>
                        <p>Your Word: <strong>@word</strong></p>
                        <p>Your Phrase: @phrase</p>
                        <p>Your word was found @count times.</p>
                    </div>
                }
                <a class="btn btn-primary" href="/" role="button">Play Again</a>
            </div>
        </div>
    </div>
</div>
