@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm">
        <div class="card">
            <img class="card-img-top" src="https://images.hellogiggles.com/uploads/2018/04/14112208/scrabble-dictionary-new-words-e1523730173132.jpg">
            <div class="card-body">
                <h3 class="card-title">RESULTS</h3>
                @{ 
                    var index = (Model.Count - 1);
                    var word = Model[index].GetInputtedWord();
                    var phrase = Model[index].GetInputtedPhrase();
                    var count = Model[index].CountOccurences(word, Model[index].SplitPhrase(phrase));

                    <p>Your Word: @word</p>
                    <p>Your Phrase: @phrase</p>
                    <p>Your word was found @count times.</p>
                    <hr /><br />

                    <h4>Your Search History</h4>
                    for(int i = 0; i < Model.Count; i++)
                    {
                        <p>Word: @Model[i].word</p>
                        <a href="/results/@i">See Details</a>
                        <hr /><br />
                    }
                }
                <a class="btn btn-primary" href="/" role="button">Play Again</a>
            </div>
        </div>
    </div>
</div>