body {
    text-align: center;
    background-color: #fffdf4;
}

img {
    height: 300px;
}

.words {
    transition: 1s;
}

.words:hover {
    background-color: #f2f7ff;
    transition: 1s;
    border: 2px solid black;
}